<!doctype html>
<title>Site em Manutenção | Lulu Bijoux</title>
<style>
body { text-align: center; padding: 150px; }
h1 { font-size: 50px; }
body { font: 20px Helvetica, sans-serif; color: #333; }
article { display: block; text-align: left; width: 650px; margin: 0 auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
</style>

<article>
  <h1>Lulu Bijoux - Voltaremos em breve...</h1>
  <div>
    <p>Sentimos muito pelo inconveniente... Mas nosso site esta em manutenção. Por favor, aguarde a finalização dos trabalhos de desenvolvimento realizado em nosso site para melhor atende-los. Enquanto isso, acesse nossa página no facebook e acompanhe de perto as novidades,<a href="https://www.facebook.com/lulubijouxoficial/?ref=br_rs">clique aqui.</a>
      Caso julgue necessário, nos mande um e-mail agora mesmo, clicando no link <a href="mailto:lulubijoux1981@hotmail.com">desejo mandar um email agora.</a> No mais, aguarde... Em breve estaremos de volta! Obrigado pela preferência.</p>
      <p>&mdash; Lulu Bijoux</p>
    </div>
  </article>

  <footer>
    <p>OOBOX Technology</p>
  </footer>
